{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Cover Template for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">pyTransaction</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" href="/index">Home</a>
                            <a class="nav-link" href="/login">登录</a>
                            <a class="nav-link" href="/join">注册</a>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="cover-heading">pyTransaction</h1>
                            <br/>
                            <p>这可能是东半球最好的Python接单社区</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <form role="form">
                                <div class="form-group">
                                    <label for="username">用户名</label>
                                    <input type="email" class="form-control" id="username" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label for="email">电子邮件</label>
                                    <input type="email" class="form-control" id="email" placeholder="email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">密码</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-default">注册</button>
                            </form>
                        </div>
                    </div>
                    <hr/>
                    <!--<h1 class="cover-heading">简介</h1>
                    <p class="lead">此处应为简介</p>
                    <p class="lead">
                        <a href="#/about" class="btn btn-lg btn-secondary">了解更多</a>
                    </p>-->
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>© Company 2017</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>