{% extends 'base1.html' %} {% load static %}
{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'join.css' %}"> 
{% endblock %} 
{% block nav-left %}
<li class="nav-item active">
    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">发布</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">接单</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">交流</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about">关于</a>
</li>
{% endblock %}
{% block nav-right %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">个人信息</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/profile">修改个人信息</a>
            <a class="dropdown-item" href="#">登出</a>
        </div>
    </li>
{% endblock %}
{% block search %}
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
</form>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>修改个人信息</h2>
            <p><a class="btn btn-success" href="#basic_info" role="button">修改基本信息</a></p>
            <p><a class="btn btn-success" href="#email_info" role="button">修改电子邮件</a></p>
            <p><a class="btn btn-success" href="#phone_info" role="button">修改手机号码</a></p>
            <p><a class="btn btn-success" href="#password_info" role="button">修改用户密码</a></p>
            <hr/>
            <p><a class="btn btn-info" href="#developer_info" role="button">修改开发者信息</a></p>
            <hr/>
            <p><a class="btn btn-danger" href="#employer_info" role="button">修改雇主信息</a></p>
        </div>
        <div class="col-md-8">
            <div name="basic_info">
                <h1 class="display-5"><a name="basic_info">修改基本信息</a></h1>
                <form role="form">
                    <div class="form-group">
                        <label for="username">修改用户名</label>
                        <input type="text" class="form-control" id="username" placeholder="username" required/>
                    </div>
                    <div class="form-group">
                        <label for="username">出生日期</label>
                        <input type="date" value="2011-11-11" />
                    </div>
                    <div class="form-group">
                        <label for="gender">性别</label>
                        <input type="radio" name="gender" value="femal" checked>男
                        <input type="radio" name="gender" value="mal">女
                        <input type="radio" name="gender" value="undenfined">不公开
                    </div>
                    <div class="form-group">
                        <label for="qq_id">QQ号码</label>
                        <input type="number" class="form-control" id="qq_id" placeholder="qq_id">
                    </div>
                    <div class="form-group">
                        <label for="wechat_id">微信</label>
                        <input type="text" class="form-control" id="wechat_id" placeholder="wechat_id">
                    </div>
                    <button type="submit" class="btn btn-primary">保存修改</button>
                </form>
            </div>
            <hr/>
            <div name="email_info">
                <h1 class="display-5"><a name="email_info">修改电子邮件</a></h1>
                <form role="form">
                    <div class="form-group">
                        <label for="email">修改电子邮件</label>
                        <input type="email" class="form-control" id="email" placeholder="email" required/>
                        <button class="btn btn-default">发送验证邮件</button>
                    </div>
                    <button type="submit" class="btn btn-primary">保存修改</button>
                </form>
            </div>
            <hr/>
            <div name="phone_info">
                <h1 class="display-5"><a name="phone_info">修改手机号码</a></h1>
                <form role="form">
                    <div class="form-group">
                        <label for="mobile">修改手机号码</label>
                        <input type="number" class="form-control" id="mobile" placeholder="mobile" required/>
                        <button type="" class="btn btn-default">获取手机验证码</button>
                    </div>
                    <button type="submit" class="btn btn-primary">保存修改</button>
                </form>
            </div>
            <hr/>
            <div name="password_info">
                <h1 class="display-5"><a name="password_info">修改密码</a></h1>
                <form role="form">
                    <div class="form-group">
                        <label for="password">修改密码</label>
                        <input type="password" class="form-control" id="password" placeholder="password" required/>
                        <label for="password">确认密码</label>
                        <input type="password" class="form-control" id="password" placeholder="password" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">保存修改</button>
                </form>
            </div>
            <hr/>
            <div name="developer_info">
                <h1 class="display-5"><a name="developer_info">修改开发者信息</a></h1>
                <form role="form">
                    <div class="form-group">
                        <label for="github_info">Github账号</label>
                        <input type="text" class="form-control" id="github_info" placeholder="">
                        <label for="skill_info">技术栈</label>
                        <input type="text" class="form-control" id="skill_info" placeholder="">
                        <label for="self_introduction">自我介绍</label>
                        <textarea rows="3" class="form-control" id="self_introduction" placeholder=""></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">保存修改</button>
                </form>
            </div>
            <hr/>
            <div name="employer_info">
                <h1 class="display-5"><a name="employer_info">修改雇主信息</a></h1>
                <form role="form">
                    <div class="form-group">

                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}